<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subscription</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <a href="/" class="return-button">Return to Home</a>
    <h1>Subscription Management</h1>
    <h2><u>Click</u> on the subscription to Edit/Delete.</h2>
    <table id="subscription-table">
        <thead>
            <tr>
                <th>Subscription ID</th>
                <th>Customer ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Active Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr onclick="selectSubscription(this)">
                <td>{{this.subscription_ID}}</td>
                <td>{{this.customer_ID}}</td>
                <td>{{this.start_date}}</td>
                <td>{{this.end_date}}</td>
                <td>{{this.active_status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- /views/index.hbs -->
    <h2>Add Subscription</h2>
    <p>To add a new subscription, please enter the information below and click `Submit`!</p>
    <form id="add-subscription-form" method="POST" action="/add-subscription-form">
        <label for="input-customerID">Customer Name: </label>
        <select name="input-customerID" id="input-customerID">
            {{#each customers}}
            <option value="{{this.customer_ID}}">{{this.first_and_last_name}}</option>
            {{/each}}

        <label for="input-startDate">Start Date: </label>
        <input type="date" id="input-startDate" name="input-startDate">

        <label for="input-endDate">End Date: </label>
        <input type="date" id="input-endDate" name="input-endDate">

        <label for="input-activeStatus">Active Status: </label>
        <input type="text" name="input-activeStatus" id="input-activeStatus">

        <input type="submit">
    </form>

    <div id="form-section" class="form-section">
    <h2>Edit Subscription Details</h2>
    <form id="edit-subscription-form" method="POST" action="/update-subscription">
        <label for="input-customerID">Customer Name: </label>
        <select name="input-customerID" id="input-customerID">
            {{#each customers}}
            <option value="{{this.customer_ID}}">{{this.first_and_last_name}}</option>
            {{/each}}

        <label for="input-startDate">Start Date: </label>
        <input type="date" id="input-startDate" name="input-startDate">

        <label for="input-endDate">End Date: </label>
        <input type="date" id="input-endDate" name="input-endDate">

        <label for="input-activeStatus">Active Status: </label>
        <input type="text" name="input-activeStatus" id="input-activeStatus">

        <input type="submit">
    </form>
    <form id="delete-subscription-form" method="POST" action="/delete-subscription">
        <input type="hidden" id="delete-subscription-id" name="subscription_id" value="">
        <button type="submit" id="delete-button">Delete Developer</button>
    </form>
</div>

<script>
    function selectSubscription(row) {
        var formSection = document.getElementById('form-section');
        formSection.style.display = 'block'; 

        document.getElementById('subscription_id').value = row.cells[0].innerText;
        document.getElementById('customer_id').value = row.cells[1].innerText;
        document.getElementById('start_date').value = row.cells[2].innerText;
        document.getElementById('end_date').value = row.cells[3].innerText;
        document.getElementById('active_status').value = row.cells[4].innerText;
        document.getElementById('delete-subscription_id').value = row.cells[0].innerText;
    }
</script>
    
</body>
</html>
